<!-- Example of interpolation binding along with binding property values of an object -->
<h2> {{hero.name | uppercase}} Details</h2>
<div>
    <span>id: </span>{{hero.id}}
</div>
<div>
    <label>name: 
        <!-- Example of a two way data binding-->
        <input [(ngModel)]="hero.name" placeholder="name">
    </label>
    <label> Heroes List:
        <!-- Example of a ngFor -->
        <ul>
            <li *ngFor= "let hero of Heroes">
                <span class="badge">{{hero.id}}</span> {{hero.name}}
            </li>
        </ul>
    </label>
</div>
